body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  padding: 5%;
  background: black;
  color: white;
}

body.hide-text, body.hide-text a {
  color: black;
}

ol {
  margin: 0;
}

code {
  background: rgb(50, 50, 50);
}

button {
  font-size: xx-large;
}

input[type=range] {
  /* width: 100%; */
}

label {
  font-size: medium;
}

a {
  color: green;
}